.home-naslov {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.home-naslov h1{
    font-family: 'Cal Sans';
    font-weight: 700;
    font-size: clamp(50px, 5vw, 100px);
}

.razdijelnik {
    height: 2px;
    background-color: white;
    border: none;
}

.home-uvod {
    justify-content: center;
}

.uvod-1 {
    font-family: 'Cal Sans';
    font-weight: 0;
    font-size: clamp(30px, 3vw, 54px);
    padding: 30px 0 5px;
}

.citat-1 {
    font-family: 'Zalando Sans SemiExpanded';
    font-style: italic;
    font-size: clamp(20px, 2.5vw, 38px);
}